<mat-card>
  <mat-card-content>

    <div class="logo-container">
      <img src="../../../assets/images/logo.png" alt="Surfer Logo">
    </div>

    <mat-divider></mat-divider>

    <form class="form-login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <section>
        <div class="inputs-container">
          <mat-form-field appearance="outline">
            <input matInput type="email" formControlName="email" placeholder="Email">
            <mat-error *ngIf="loginForm.controls.email.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="loginForm.controls.email.hasError('email')">Invalid email</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <input matInput type="password" formControlName="password" placeholder="Senha">
            <mat-error *ngIf="loginForm.controls.password.hasError('required')">Password is required</mat-error>
          </mat-form-field>
        </div>

        <mat-card-actions align="start">
          <section>
            <div class="actions-top-container">
              <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
            </div>

            <mat-divider></mat-divider>

            <div class="actions-bottom-container">
              <button mat-raised-button color="accent" [routerLink]="'/login/register'">Register</button>
              <button mat-raised-button color="accent" [routerLink]="'/login/register'">Learn More</button>
            </div>
          </section>
        </mat-card-actions>
      </section>
    </form>
  </mat-card-content>
</mat-card>
