<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
  <h1 class="example-app-name">Surfer WEB</h1>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()">
    <mat-nav-list>
      <mat-list-item [routerLink]="['/app/beach-list']">
        <span mat-list-item class="full-width">Home</span>
      </mat-list-item>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing">Beach's</span>
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}"
          *ngIf="isExpanded || isShowing">expand_more</mat-icon>
      </mat-list-item>
      <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
        <a mat-list-item [routerLink]="['/app/beach-form']">Add a new Beach</a>
      </div>
    </mat-nav-list>
    <mat-nav-list>
    </mat-nav-list>
  </mat-drawer>

  <section class="main-container">
    <router-outlet></router-outlet>
  </section>
</mat-drawer-container>
